body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1000px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-button {
    display: block;
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 20px;
}

.sidebar {
    background-color: #2c3e50;
    color: white;
    width: 250px;
    padding: 20px;
    position: fixed;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
}

.sidebar.active {
    transform: translateX(0);
}

.profile-header {
    position: relative;
}

.close-button {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.sidebar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #fff;
}

.content {
    margin-left: 0;
    padding: 20px;
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
}

@media (min-width: 768px) {
    .menu-button {
        display: none; /* Oculta o botão "Dados Pessoais" */
    }

    .close-button{
        display: none;
    }

    .container {
        flex-direction: row;
        height: 100vh;
    }

    .sidebar {
        transform: translateX(0); /* Sidebar visível em telas grandes */
    }

    .content {
        margin-left: 250px;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    z-index: 2000;
    text-align: center;
}

.popup img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.popup-close {
    display: block;
    margin-top: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1500;
}

.overlay.active {
    display: block;
}
